/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.mvn/
/web.log
/web.log.2018-09-18.0.gz
/web.log.2018-09-18.0454906632813349.tmp
/web.log.2018-09-19.0.gz
/web.log.2018-09-19.0611174760006263.tmp
/web.log.2018-09-18.0534593582349947.tmp
